.app__home {
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .app__home-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .app__home-card {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .app__home-img {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        margin: 4rem 0 2rem 2rem;

        img {
          height: 280px;
          width: 315px;
          left: -107px;
          top: 82px;
          border-radius: 4px;
        }

        .app__home-heart {
          position: absolute;
          left: 9.8rem;
          top: 9.5rem;

          img {
            height: 35px;
            width: 39;
          }
        }
      }

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      .app__home-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        align-items: center;
        margin: 0 0 0 2.2rem;

        p {
          font-weight: 500;
          font-size: 22px;
        }
      }
      .app__home-price {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 2.2rem;

        p {
          font-weight: 800;
          font-size: 28px;
        }
      }
      .app__home-address {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 2.2rem;

        p {
          font-weight: 400;
          font-size: 18px;
        }
      }
      .app__home-list_date {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 2.2rem;

        p {
          font-weight: 300;
          font-size: 13px;
        }
      }
    }
  }
}
