.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F4F4F4;


    .app__navbar-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
    }

  }
  